.FavoriteGames {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 450px;
    height: 150px;
    color: white;
  }

  
  .GameCard {
    border: 1px solid white;
    width: 100;
    height: 125;
    text-align: center;
    cursor: pointer;
  }
  .GameCard .SelectedGame{
    border: 1px solid white;
    width: 100;
    height: 125;
    text-align: center;
    cursor: pointer;
  }
  
  .ModalContent {
    border: 2px solid white;
    height: 500px;
    width: 500px;
    background-color: grey;
    align-items: center;
  }

  .Popup  {
        border: "2px solid white";
        height: 500;
        width: 500;
        background-color: "grey",
  }