:root {
    /* Light theme */
    --wrapper-light: #f3f4f6;

    /* Dark theme */
    --wrapper-dark: rgb(107, 114, 128);
}

[data-theme="dark"] {
    --wrapper: var(--wrapper-dark);
}

[data-theme="light"] {
    --wrapper: var(--wrapper-light);
}

.game-page-wrapper {
    background-color: var(--wrapper);
    min-height: 100vh;
}

.game-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
    /* margin-top: 2%; */
    /* border: 1px solid rgb(0, 4, 255); */
}

.left-content {
    flex-basis: 100%;
    display: flex;
    gap: 5px;
    overflow: auto;
    /* border: 1px solid rgb(255, 0, 247); */
    margin-top: 20px;
    flex-direction: row;
    height: 100%;
    padding: 2%;
}

.right-content {
    flex-basis: 100%;
    width: 100%;
    margin-left: 2%;
    /* border: 1px solid blue; */
}
