.game-page-wrapper {
    background-color: #f3f4f6;
    min-height: 100vh;
}

.game-content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 20px; 
    max-width: 90%; 
    margin: 0 auto;
}

.left-content {
    flex-basis: 100%;
    display: flex;
    gap: 5px;
    overflow: auto;
    border: 1px solid rgb(0, 255, 119);
    margin-top: 20px;
    
}


.right-content {
    flex-basis: 100%; 
    width: 100%;
    /* border: 1px solid blue; */
}


