.game-card-list {
    background-color: var(--background);
    border: 1px solid var(--background);
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
    width: 200px;
}

.game-card-list:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.game-card-list img {
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
}

.title-card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.game-card-list h2 {
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 16px;
}

.game-card-list p {
    color: var(--secondary-text-color);
    line-height: 1.5;
    margin-bottom: 16px;
}

.game-card-list .numericRating {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--rating-color);
    margin-bottom: 8px; /* Add some spacing before the stars */
}

.rating {
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-bottom: 16px; /* Added some space below the stars */
}

.fullStar,
.emptyStar,
.halfStar {
    font-size: 20px;
    margin: 0 1px; /* Slight margin on each side */
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
}

.fullStar {
    color: var(--rating-color);
}

.halfStar {
    color: var(--star-color);
}

.halfStar::before {
    content: "★";
    position: absolute;
    top: 0;
    left: 0;
    color: var(--rating-color);
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.emptyStar {
    color: var(--star-color);
}

.play-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.5px;
    padding: 6px;
    margin-bottom: 16px;
}

.play-buttons-container img {
    margin-bottom: 0px !important;
}

.play-button {
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
}

.searchedTitleCard {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
