.activity-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Create a 12-column grid */
    gap: 6.5px; /* Adjust the gap between grid items as needed */
    margin-bottom: 50px;
}

.user-activity {
    background: #ccc;
    height: 300px;
    border-radius: 25px;
    padding: 10px;
}

h1 {
    font-size: 30px;
}