.upcoming-container {
    padding: 0 20px;
    margin-bottom: 20px;
}

.upcoming-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Create a 12-column grid */
    gap: 6.5px; /* Adjust the gap between grid items as needed */
    border-radius: 25px;
    margin-bottom: 50px;
}

.upcoming-head {
    font-size: 20px;
    font-weight: bold;
}

.upcoming-item {
    position: relative;
    height: 280px;
    overflow: hidden;
}

.upcoming-cover-rounded {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}