.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.image-container {
  width: 45%; /* Adjust the width as desired */
  height: 45%; /* Adjust the height as desired */
  /* You can also add other styles as needed */
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

label {
  margin-right: 10px;
  margin-left: 100px;
}

.login-button {
  background-color: blue; 
  border: none;
  color: white; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px; 
}

.login-button:hover {
  background-color: darkblue; 
}

.link-to-register {
  color: blue; 
  text-decoration: none; 
  transition: color 0.2s; 
}

.link-to-register:hover {
  color: darkblue; 
}