.slick-slide {
    display: flex;
    justify-content: center;  /* Horizontal centering */
    align-items: center;      /* Vertical centering */
    height: 100%;             /* Or a fixed value like 400px */
}

.slick-slide img {
    max-width: 100%;  /* Ensures the image doesn't overflow */
    max-height: 100%; /* Ensures the image doesn't overflow */
    display: block;
    margin: 0 auto;
}

.slick-slide iframe {
    margin: 0 auto;   /* Horizontal centering */
    display: block;  /* To make margin auto work for horizontal centering */
    /* max-width: 100%;
    max-height: 100%; */
}
