.my-lists-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  .listPageTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }  