:root {
    /* Light theme */
    --wrapper-light: #f3f4f6;
    --text-color-light: #333;

    /* Dark theme */
    --wrapper-dark: rgb(107, 114, 128);
    --text-color-dark: #f5f5f5;
}

[data-theme="dark"] {
    --wrapper: var(--wrapper-dark);
    --text-color: var(--text-color-dark);
}

[data-theme="light"] {
    --wrapper: var(--wrapper-light);
    --text-color: var(--text-color-light);
}

.review-page-wrapper {
    background-color: var(--wrapper);
    min-height: 100vh;
    
}
.review-page-stuff {
    display: flex;
    justify-content: space;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
}

/* flex justify-between items-start px-16 py-8 */

.review-content-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.review-content-container {
    flex: 2;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--background);
    margin-top: 20px;
}

.review-content-container h1 {
    text-align: center;
    color: var(--text-color);
}

.review-content-container textarea {
    width: 100%;
    height: 1000px;
}
