.review-page-wrapper {
    /* Add any global styles for the wrapper */
}

/* Left side container styles */
.left-container {
    flex: 1;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.left-container > * {
    width: 100%;
    box-sizing: border-box;
}

/* Right side container styles */
.review-content-container {
    flex: 3;
    padding: 20px;
}

.review-text {
    /* Styles for the review text */
    padding-top: 20px;
}

.spoiler {
    background-color: #000;
    color: #000;
    cursor: pointer;
}
.spoiler:hover {
    color: #FFF;
}

/* ReviewPage.css */

.toggle-spoilers {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.toggle-spoilers label {
    cursor: pointer;
}

.toggle-spoilers input {
    margin-right: 5px;
}

.spoiler-effect {
    background-color: black;
    color: black;
    cursor: pointer;
}
.spoiler-effect:hover {
    color: white;
}



/* ReviewPage.css */
.spoiler {
    background-color: black; 
    color: black;
    cursor: pointer;
}


.delete-review-btn {
    background-color: #ff4d4d; /* Red background */
    color: #ffffff; /* White text */
    border: none;
    width: 20%;
    margin-left: auto;
    border-radius: 5px; 
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-review-btn:hover {
    background-color: #ff1a1a; /* Darker red on hover */
}
