/* Using the same root variables for theme colors */

:root {
    /* Light theme */
    --background-light: #fafafa;
    --text-color-light: #333;
    --secondary-text-color-light: #555;
    --rating-color-light: #618edb;
    --star-color-light: #bbbac0;

    /* Dark theme */
    --background-dark: #4b5563;
    --text-color-dark: #f5f5f5;
    --secondary-text-color-dark: #CAC7C7;
    --rating-color-dark: #92a8d1;
    --star-color-dark: #bbbac0;
}

[data-theme="dark"] {
    --background: var(--background-dark);
    --text-color: var(--text-color-dark);
    --secondary-text-color: var(--secondary-text-color-dark);
    --rating-color: var(--rating-color-dark);
    --star-color: var(--star-color-dark);
}

[data-theme="light"] {
    --background: var(--background-light);
    --text-color: var(--text-color-light);
    --secondary-text-color: var(--secondary-text-color-light);
    --rating-color: var(--rating-color-light);
    --star-color: var(--star-color-light);
}

.review-profile {
    background-color: var(--background);
    border-radius: 20px;
    padding: 16px 24px; /* More precise than percentages for consistent spacing */
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px; /* Spacing between avatar and user details */
}

.review-profile:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.review-profile .avatar {
    width: 80px;  /* Slightly smaller */
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--secondary-text-color); /* Avatar frame */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Avatar shadow */
}

.review-profile .user-details {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center align content vertically */
}

.review-profile h1 {
    font-weight: 600; /* Slightly lighter */
    color: var(--text-color);
    margin-bottom: 4px;
    font-size: 1.2rem; /* Slightly larger */
}

.review-profile .timestamp {
    color: var(--secondary-text-color);
    font-size: 0.85rem; /* Slightly smaller */
}
