.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .gamesColumn, .usersColumn {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 16px;
  }
  
  .usersColumn {
    margin-left: 16px; /* Add some space between columns */
  }
  