.user-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.user-cover {
    background: #999;
    grid-column: 1 / span 12;
}
.user-cover2 {
    background: #666;
    grid-column: 13 / span 12;
}