.user-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.user-cover {
    grid-column: 1 / span 8;
}

.user-rounded {
    border-radius: 15px;
}
.user-cover2 {
    grid-column: 10 / span 16;
}