/* wishlist.css */
.wishlist-container {
    text-align: center;
    padding: 100px;
    background-color: lightblue;
    font-family: Arial, sans-serif;
  }
  
  .wishlist-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .wishlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  .game-box {
    background-color: peachpuff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .game-box:hover {
    transform: translateY(-5px);
  }
  
  .game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .game-title {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }
  
  .add-game-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .add-game-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .add-game-form button {
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .add-game-form button:hover {
    background-color: #e64724;
  }
  
  .wishlist-button {
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .wishlist-button.in-wishlist {
    background-color: #333;
  }
  
  .wishlist-button.in-wishlist:hover {
    background-color: #555;
  }
  
  /* ProfileTitleCard.css */
  .profile-game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-game-card img {
    max-width: 100%; /* Ensure the image scales within its container */
    height: auto; /* Maintain aspect ratio */
  }